body {
  height: 100vh;
  background: linear-gradient(#f5efef, #8e98b7);
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bookmark-list-main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-div {
  margin-top: 50px;
  margin-bottom: 25px;
}

.header-div, .list-div {
  width: 300px;
}

.logo {
  text-align: center;
  font-size: 26px;
  margin-top: -35px;
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
  color: #b25151;
}

.main-form {
  display: flex;
  justify-content: space-between;
  & input, button {
    margin: 8px;
  }
}

.search {
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 15px 74px 15px 8px;
  font-size: 15px;
}

.search-button {
  outline: none !important;
  border: none;
  font-size: 18px;
  color: white;
  padding: 15px 15px;
  border-radius: 15px;
  background: #8585b5;
  transition: background 0.3s ease;
}

.search-button:hover {
  opacity: 1;
  border: none;
  background: #7979a8;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.remove-button {
  outline: none;
  border: none;
  font-size: 15px;
  color: white;
  padding: 15px 15px;
  border-radius: 15px;
  background: #f75858;
  transition: background 0.3s ease;
}

.remove-button:hover {
  opacity: 1;
  border: none;
  background: #e55151;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.bookmark-items {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  transition: background 0.3s ease;
}

.list-item-li {
  outline: none;
  font-size: 15px;
  padding: 15px 15px;
  color: #2f2f2f !important;
  border-radius: 15px;
  background: #f1f1f1;
  transition: background 0.3s ease;
  font-family: 'Lato', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
}

.list-item-li a {
  text-decoration: none !important;
  color: #2f2f2f !important;
}

.swiper-container {
  text-align: center;
}

.swal-footer {
  text-align: center;
  padding: 7px;
}

.swal-text:first-child {
  margin-top: 25px;
}

.swal-modal {
  width: 296px;
  font-family: 'Lato', sans-serif;
}
